body {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  background: black;
}

.main {
  margin-left: 10%;
  margin-top: 10%;
  color: white;
  font-size: 2em;
  font-weight: 700;
}

a{
  text-decoration: none;
}


.main .char {
  animation: animate 3s ease-in-out infinite;
  transform: translateY(-2em);
  animation-delay: calc(0.05s * var(--char-index));
}

@keyframes animate
{
  0%,100%
  {
    transform: translateY(-2.5em) rotate(-20deg);
  }
    50%
  {
    transform: translateY(2.5em) rotate(20deg);
  }
}