body {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  background: white;
}

main {
  font-family: halyard-display, sans-serif;
  font-style: normal;
  background: white;
}

h1 {
  margin: 0px 0px 0px 0px;
  font-weight: 700;
  font-size: 2.2em;
  font-style: normal;
  width: 100%;
  text-align: left;
}

h2 {
  font-weight: 400;
  font-size: 1.6em;
  font-style: normal;
  width: 100%;
  text-align: left;
}

.bgimage {
  width:  50%;
}

.bg {
  width: 50vw;
  top: 0px;
  position: absolute;
  right:0px;
}