body {
  font-family: gopher, sans-serif;
  font-style: normal;
  background: white;
  width: 60%;
  margin: 30px auto;
  max-width: 640px;
}

a.title{ 
  text-decoration: none; 
}

a.images{
  color: black;
  margin-top: 150px;
  text-decoration-color: black;

}

img.main {
  margin-top: 10px;
  border-bottom: 1px solid black;
}

a.about {
  text-decoration: none; 
}

.videos{
  margin: auto;
  align-items: center;
}

h1 {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  text-align: left;
  font-size: 2rem;
  color: black;
  font-weight: 600;
  text-decoration: underline;
}

h3.link {
  text-decoration: none;
}

h4 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  flex: 0 0 auto;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0px 0px 0px 0px;
}

p{
  color: black;
  font-weight: 300;
  font-size: 1.2rem;

}

.container {
  margin: 0 auto;
}

.photos {
  background-color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
}

.photos img {
  display: block;
  float: left;
  flex: 0 0 auto;
  background-color: #fff;
  margin-bottom: 50px;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s  ease-in-out;
}

.myDIV:hover + .hide {
  opacity: 1;
  visibility: visible;

}

.videos {
    max-width: 640px;
}

.vidbox{
  display: inline;
}

a.back{
  color: black;
  text-decoration: none;
  text-decoration-color: black;
}

a.inline {
  color: black;
}

.player {
  border: 1px solid black;
}

iframe,img {
  margin: 2.5% auto 5% auto;
  width: 100%;
}

img {
  height: auto;
}

@media screen and (min-width: 1024px) {
  .photos img, h4 {
    width: calc(100%);
    height: calc(100%);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .photos img, h4 {
    width: calc(100%);
    height: calc(100%);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .photos img, h4 {
    width: calc(100%);
    height: calc(100%);
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .photos img, h4 {
    width: calc(100%);
    height: calc(100%);
  }
}

@media screen  and (max-width: 320px) {
  .photos img, h4 {
    width: 100%;
    height: 100%;
  }
}



@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1.2rem;
  }
  h3{
    font-size: 1rem;
  }
  h4{
    font-size: .8rem
  }
}

@media only screen and (max-width: 500px) {
  body {
    width: 95%;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3{
    font-size: 1.2rem
  }
  h4{
    font-size: 1rem
  }
}